<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mimehoo.appdemo.mapper.GoodsMapper">
    <!--查询一条商品-->
    <select id="selectOne" parameterType="Long" resultType="com.mimehoo.appdemo.entity.GoodsDo">
        select id,name,pic,price from goods where id = #{id}
    </select>

    <!--查询全部-->
    <select id="selectAll" resultType="com.mimehoo.appdemo.entity.GoodsDo">
        select id,name,pic,price from goods
    </select>

    <insert id="insert" parameterType="com.mimehoo.appdemo.entity.GoodsDo" >
        insert into goods(name, pic, price) values (#{name}, #{pic}, #{price})
    </insert>

    <update id="update" parameterType="com.mimehoo.appdemo.entity.GoodsDo">
        update goods
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="pic != null">pic = #{pic},</if>
            <if test="price != null">price = #{price}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="Long" >
        delete from goods where id = #{id}
    </delete>


</mapper>